body {
margin: 0;
padding: 0;
font-size: 16px;
line-height: 24px;
font-weight: 400;
font-family: "Roboto", Arial, sans-serif;
color: #2f3439;
text-transform: uppercase;

background-color: #ffffff;
 }

a {
    text-decoration: none;
}
.main-header .logo {
    background-image: url(../img/main-logo.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 160px;
    height: 65px;
}
.main-header .logo:hover {
    background-image: url(../img/main-logo1.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 160px;
    height: 65px;
}
.main-header .logo:active {
    background-image: url(../img/main-logo2.png);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 160px;
    height: 65px;
}

.main-header {
    background-color: #ededed;
}
.slide-title1 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: 500;
}
.slide-title2 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: 500;
}
.slide-title3 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    font-weight: 500;
}

.slide .slide-title1 {
    background-image: url("../img/slide1.jpg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    width: 698px;
    height: 413px;
}
.slide .slide-title2 {
    background-image: url("../img/slide2.jpg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    width: 698px;
    height: 413px;
}
.slide .slide-title3 {
    background-image: url("../img/slide3.jpg");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    width: 698px;
    height: 413px;
}
.slide p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
}

.site-navigation {
    list-style: none;
}

.site-navigation,
.shop-navigation {
    list-style: none;
    font-weight: 600;
}


.site-navigation a,
.shop-navigation a {
    color: #000000;

}

.site-navigation a:hover,
.site-navigation a:focus,
.shop-navigation a:hover,
.shop-navigation a:focus {
    color: #fb565a;
}
.site-navigation a:active,
.shop-navigation a:active {
    color: #ababab;
}

.active a:hover {
    background-color: red;
}
.btn {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    font-weight: 500;
    font: inherit;
}
.btn:hover,
.btn:focus {
    background-color: #e74246;
}
.btn:active {
    color: #d7373b;
}
.feature-btn-red {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    font-weight: 500;
    font: inherit;
}
.feature-btn-green {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #00ca74;
    font-weight: 500;
    font: inherit;
}
.feature-btn-yellow {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #efc84a;
    font-weight: 500;
    font: inherit;
}

.products .feature-btn-red:hover,
.products .feature-btn-red:focus {
    color: #ffffff;
    background-color: #e74246;
}
.products .feature-btn-red:active {
    color: #d7373b;
}

.products .feature-btn-green:hover,
.products .feature-btn-green:focus {
    color: #ffffff;
    background-color: #00bc6c;
}
.products .feature-btn-green:active {
    color: #00aa62;
}

.products .feature-btn-yellow:hover,
.products .feature-btn-yellow:focus {
    color: #ffffff;
    background-color: #eab534;
}
.products .feature-btn-yellow:active {
    color: #e5a722;
}

.products p:first-child {
    background-image: url("img/notebook.png");
    background-repeat: no-repeat;
    background-position: 140px 625px;
    background-color: #ffffff;
}
.products p:nth-child(2) {
    background-image: url("img/mobile.png");
    background-repeat: no-repeat;
    background-position: 540px 526px;
    background-color: #ffffff;
}
.producrs p:last-child {
    background-image: url("img/presentation.png");
    background-repeat: no-repeat;
    background-position: 940px 625px;
    background-color: #ffffff;
}
.products h2 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}
.procucts p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
}

.header {
    color: #000000;
    background-color: #ededed;
}
.about-us b {
    font-size: 45px;
    line-height: 45px;
    color: 000000;
    font-weight: 500;
}

.about-us p {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
}

.services h4 {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;

}

.services li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    font-weight: 400;
}

.about-logo {
    background-position: 940px 1094px;
}

.advantages h4 {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
}

.percentages li {
    font-size: 45px;
    line-height: 10,06px;
    color: #000000;
    font-weight: 700;
    list-style: none;
}

.advan li {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
    font-weight: 400;
    list-style: none;
}

.partners-site {
    list-style: none;
}
.html-academy {
    background-image: url("../img/html-academy.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 199px;
    height: 68px;
}
.html-academy:hover {
    background: url("../img/html-academy1.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 199px;
    height: 68px;
}
.html-academy:active {
    background: url("../img/html-academy2.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 199px;
    height: 68px;
}
.borodinski {
    background-image: url("../img/borodinski.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 209px;
    height: 90px;
}
.borodinski:hover {
    background-image: url("../img/borodinski1.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 209px;
    height: 90px;
}
.borodinski:active {
    background-image: url("../img/borodinski2.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 209px;
    height: 90px;
}
.pink {
    background-image: url("../img/pink.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 185px;
    height: 52px;
}
.pink:hover {
    background-image: url("../img/pink1.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 185px;
    height: 52px;
}
.pink:active {
    background-image: url("../img/pink2.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 185px;
    height: 52px;
}
.mishka {
    background-image: url("../img/mishka.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 173px;
    height: 84px;
}
.mishka:hover {
    background-image: url("../img/mishka1.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 173px;
    height: 84px;
}
.mishka:active {
    background-image: url("../img/mishka2.png");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    width: 173px;
    height: 84px;
}

.form-text {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}
.min-price,
.max-price {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 400;
}
.grid legend {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}
.form-list {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    font-weight: 400;
    text-transform: capitalize;
}
.form-list:hover {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: 400;
    text-transform: capitalize;
}
.form-list:active {
    font-size: 16px;
    line-height: 20px;
    color: #d0d2d3;
    font-weight: 400;
    text-transform: capitalize;
}
.slider1 {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    font-weight: 400;
}
.slider1:hover {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    font-weight: 400;
}
.show-btn {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 500;
    background-color: #eeeeee;
    text-transform: uppercase;
    font: inherit;
}
.show-btn:hover,
.show-btn:focus {
    background-color: #dfdfdf;
}
.show-btn:active {
    color: #d5d5d5;
}
.sort {
    list-style: none;
}
.samples-sort p {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
}
.active-sort {
    font-weight: 14px;
    line-height: 18px;
    color: #b2b2b2;
    font-weight: 400;
}
.active-sort:hover {
    font-weight: 14px;
    line-height: 18px;
    color: #858585;
    font-weight: 400;
}
.active-sort:active {
    font-weight: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}

.inactive-sort {
    font-weight: 14px;
    line-height: 18px;
    color: #b2b2b2;
    font-weight: 400;
}
.inactive-sort:hover {
    font-weight: 14px;
    line-height: 18px;
    color: #858585;
    font-weight: 400;
}
.inactive-sort:active {
    font-weight: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}
.samples-galery li {
    list-style: none;
}
.active-page-btn a {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    background-color: #eeeeee;
}

.pages li:nth-child(2) {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}
.pages li:nth-child(3) {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}
.pages li:nth-child(4) {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}

.contacts-us h4 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}
.contacts-us p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    font-weight: 400;
}
.contacts-us a {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    font-weight: 400;
}
.button {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #db575a;
    font-weight: 400;
    text-transform: uppercase;
    font: inherit;
} 

.social-network li {
    list-style: none;
}
.friendship p:first-child {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}
.friendship p:last-child {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #444444;
}

























