* {
    outline: 1px dashed red;
}

body {
  min-width: 1200px; 
margin: 0;
padding: 0;
font-size: 16px;
line-height: 24px;
font-weight: 500;
font-family: "Roboto", Arial, sans-serif;
color: #000000;
text-transform: uppercase;

background-color: #ffffff;
 }

a {
    color: #000000;
    text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.slider {
  position: relative;

  background-color: #eeeeee;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
  
}
.slider-controls i::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;
  
  background: #ffffff;

  border-radius: 50%;
}
.slider-controls .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.button {
  display: inline-block;
  padding: 13px 0px;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}
.slider-item-button {
    width: 240px;
    height: auto;
}
.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.visually-hidden:not(:focus):not(:active),
.slider input[type="checked"].visually-hidden,
.slider input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    background-color: #eeeeee;
    padding-top: 48px;
    margin-bottom: 80px;
}
.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    line-height: 30px;
    width: 100%
    
}


.site-navigation {
    list-style: none;

    margin: 0;
    padding: 0;
    width: 600px;

    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.site-navigation li {
    margin-right: 48px;
}
.site-navigation,
.user-navigation {
    list-style: none;
    font-weight: 600;
}


.site-navigation a,
.user-navigation a {
    color: #000000;

}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    color: #fb565a;
}
.site-navigation a:active,
.user-navigation a:active {
    color: #ababab;
}
.user-navigation {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 85px;
    margin-top: 30px;
}
.user-navigation::before {
    content: '';

    position: absolute;
    width: 17px;
    height: 17px;
    top: 50%;
    margin-top: -8px;
    margin-left: -26px;
    background: url(../img/cart-icon.svg) 0 0 no-repeat;
}
.btn-red {
    width: 160px;
    height: auto;
    background-color: #fb565a;

}

.btn-green {
    width: 160px;
    height: auto;
    background-color: #00ca74;
}

.btn-yellow {
    width: 160px;
    height: auto;
    background-color: #efc84a;
}

.btn-red:hover,
.btn-red:focus {
    color: #ffffff;
    background-color: #e74246;
}
.btn-red:active {
    color: #d7373b;
}
.btn-green:hover,
.btn-green:focus {
    color: #ffffff;
    background-color: #00bc6c;
}
.btn-green:active {
    color: #00aa62;
}
.btn-yellow:hover,
.btn-yellow:focus {
    color: #ffffff;
    background-color: #eab534;
}
.btn-yellow:active {
    color: #e5a722;
}

.features {
    margin-bottom: 80px;
    position: relative;
}
.features-list li:nth-child(1)::before {
    content: "";

    display: flex;

    background-image: url("../img/notebook.png");
    width: 300px; 
    height: 146px;
    background-color: #ffffff;
}
.features-list li:nth-child(2)::before {
    content: "";

    display: flex;

    background-image: url("../img/mobile.png");
    width: 300px; 
    height: 146px;
    background-color: #ffffff;
}
.features-list li:nth-child(3)::before {
    content: "";

    display: flex;
    background-image: url("../img/presentation.png");
    width: 300px; 
    height: 146px;
    background-color: #ffffff;
}
.features::after {
    content: "";

    position: absolute;
    bottom: -80px;
    width: 100%;
    height: 2px;

    background-color: #eee;
}
.features-list {
    list-style: none;

    display: flex;
    margin: 0;
    padding: 0;
}

.features-item {
    margin-right: 100px;
    text-align: left;
    width: 300px;
}
.features-item h2 {
    margin: 0;
    padding: 0;
    margin-top: 28px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
.features-item p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #283136;
    font-weight: 400;
    text-transform: none;
}
.header {
    color: #000000;
    background-color: #ededed;
}
.about-us {
    position: relative;
    padding-top: 40px;
    margin-bottom: 75px;

    display: flex;
    justify-content: space-between;
}
.about-us::after {
    content: "";

    position: absolute;
    bottom: -80px;
    width: 100%;
    height: 2px;

    background-color: #eeeeee;
}
.us {
    margin-top: 40px;
    width: 660px;
}
.statistic {
    width: 360px;
}
.us b {
    text-transform: none;
    font-size: 45px;
    line-height: 45px;
}

.us p {
    margin-top: 38px;
}
.us p,
.list-order {
    list-style: none;
    text-transform: none;
    color: #283136;
    font-weight: 400;
}
.about-us h4 {
    font-weight: 700;
    margin-top: 40px;
}
.us li {
    position: relative;
    margin-top: 25px;
}
.us li::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 25px;
    top: 50%;
    margin-top: -1px;
    left: -40px;

    background-color: red;
}

.statistic {
    width: 360px;

}
.statistic h4 {
    text-align: center;
}
.statistic,
.table {
    margin-top: 42px;
}
.statistic td {
    line-height: 18px;
    color: #283136;
    list-style: none;
    text-transform: none;
}
.statistic th {
    font-weight: 700;
    font-size: 45px;
    color: #283136;
}

.statistic {
    background-position: 940px 1094px;
}
.table span {
    display: block;
    margin-bottom: 25px;
    margin-right: 25px;
}
.our-project {
    padding: 47px 30px 0 40px;
    margin-bottom: 50px;
}
.project-list {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.project-list::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: -5px;
    width: 100%;
    height: 2px;

    background-color: #eeeeee;
}
.project-list li {
    list-style: none;
    opacity: 1;

    position: relative;
}
.project-list a {
    opacity: 0.2;
}
.project-list a:hover,
.project-list a:focus {
    opacity: 1;
}
.project-list a:active {
    opacity: 0.1;
}
.project-list li::after {
    content: "";
    position: absolute;
    height: 60px;
    width: 3px;
    top: 50%;
    margin-top: -30px;
    right: -20px;

    background-color: #eeeeee;
}
.project-list li:last-shild::after {
    display: none;
}

.container h2 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}
.active li {
    font-size: : 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}
.main-footer {
    margin-top: 80px;
}

.map {
    position: relative;
}
.map,
.img-map img {
  max-width: 100%
}

.address {
    position: relative;
    top: 50%;

    padding: 50px;

    margin-top: -150px;

    background-color: #ffffff;
}

.address h4 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;

    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}
.address p {
    line-height: 18px;
    color: #666666;
    font-weight: 400;
    text-transform: none;
    text-align: left;

    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.modal-btn {
    display: block;
    cursor: pointer;
    margin-top: 25px;

    width: 219px;
    height: auto;
}
.modal-window {
    position: absolute;
    left: 40%;
    right: 30%;
}



.footer-social {
    padding: 65px 5px;
    margin-right: 140px;

    display: flex;
}
.footer-social ul {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 260;
    margin: 0 auto;
    padding: 0;
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #eeeeee;
}
.social-button:hover,
.social-button:focus {
    background-color: #e74246;
}
.social-button:active {
    background-color: #d7373b;
    fill: #e37376
}
.socil-button:active path {
    fill: #e37376;
}

.friendship b {
    font-weight: 700px;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    text-align: left;

    margin: 0;
}
.friendship p {
    font-weight: 400;
    line-height: 22px;
    text-transform: none;
    text-align: left;
    color: #444444;

    margin: 0;
    margin-top: 10px;
}









.header-name {
    text-align: center;
    font-size: 55px;
    line-height: 55px;
    text-transform: none;

    margin-top: 80px;
    padding-bottom: 110px;
}
.catalog-page {
    display: flex;
    justify-content: space-between;

    border: none;
}
.filters {
    width: 260px;
}
.main-head {
    margin: 0;
}
fieldset {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    border: none;
}
fieldset ul {
    margin: 0;
    margin-top: 20px;
    margin-left: 35px;
    padding: 0;

    list-style: none;
    text-transform: none;
    line-height: 20px;
    font-weight: 400;
} 
legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}
.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: #f1f1f1;

    border-radius: 5px;
}
.range-controls
.scale {
    height: 2px;

    background: #d7dcde;
}
.range-control 
.bar {
    width: 70%;
    height: 2px;

    background-color: #00ca74;
}
.range-controls 
.toggle {
    position: absolute;
    top: 31px;
    left: 0;

    height: 4px;
    width: 4px;
    padding: 0;

    cursor: pointer;
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%
}
.range-controls 
.toggle-min {
  left: 50px;
}

.range-controls 
.toggle-max {
  left: 110px;
}
.price-controls {
    font-size: 0;
}
.price-controls label {
    display: inline-block;
    width: 50%

    font-size: 16px;
    text-transform: uppercase;
}
.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background-color: #f1f1f1; 
}
.max-price {
    text-align: right;
}

.filter-option {
    margin-bottom: 17px;
}
.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;s
}
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;

    width: 27px;
    height: 25px;
    top: 0;
    left: -33px;

    opacity: 0.4;
    background: url(../img/checkbox-off.svg) no-repeat 0 0;
}
.filter-input-checkbox:hover + label::before {
    opacity: 1;
}
.filter-input-checkbox:checked:hover + label::before {
    opacity: 1;
}
.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;

    width: 27px;
    height: 25px;

    top: 0;
    left: -33px;

    opacity: 0.4;
    background: url(../img/checkbox-on.svg) no-repeat 0 0;
}
.filter-input-radio + label::before {
    content: "";
    position: absolute;

    width: 18px;
    height: 18px;
    top: -3px;
    left: -33px;

    opacity: 0.4;
    border: 3px solid #4d4d4d;
    border-radius: 50%
}
.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;

    width: 10px;
    height: 10px;

    top: 4px;
    left: -26px;

    opacity: 0.4;
    background-color: #4d4d4d;
    border-radius: 50%
}

.filter-input-radio:hover + label::before {
    opacity: 1;
}
.filter-input-radio:checked:hover + label::after {
    opacity: 1;
}
.show-button {
    background-color: #eeeeee;
    color: #000000;
}
.show-button:hover {
    background-color: #dfdfdf;
}
.show-button:active {
    background-color: #d5d5d5;
    border-top: 3px solid #bfbfbf;
    border-radius: 3px;
    color: #000000;
    opacity: 0.3;
}
.catalog {
    width: 760px;
}
.catalog-page {
    display: flex;
    justify-content: space-between;
}
.sort {
    display: flex;
    justify-content: space-between;
}

.sort-param {
    font-size: : 14px;
    line-height: 20px;
    font-weight: 400;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-right: 25px;
    margin: 0;

}
.sort-param li {
    padding-left: 27px;
}
.sort-param li:hover {
    opacity: 0.8;
}
.sort-param a {
    opacity: 0.4;
}
.sort-param 
.active {
    opacity: 1;
}
.revers {
    list-style: none;
    position: relative;

    display: flex;
    margin-left: 15px;
    align-items: center;
    width: 40px;
    padding: 0;
    padding-right: 20px;
    margin: 0;
}
.revers a::after {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;

    background: url("../img/icon-down-dir.svg") no-repeat 0 0;
}
.revers li:last-child a::after {
    margin-left: 25px;
    background: url("../img/icon-up-dir.svg") no-repeat 0 0;
}
.revers li:hover {
    opacity: 0.8;
}
.revers a {
    opacity: 0.4;
}
.revers 
.active {
    opacity: 1;
}
.catalog-list {
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-item {
    width: 360px;
    margin-bottom: 30px;

    position: relative;
}
.catalog-item {
    margin-top: 55px;
}
.catalog-item::after {
    position: absolute;
    top: -25px;
    left: 10px;
    font-size: 45px;
    content: "";
    color: white;
}
.catalog-item::before {
    position: absolute;
    top: -30px;
    width: 100%
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f1f1f1
    content: "";
}
.catalog-item:hover::before {
    background-color: #797979;
}


.price {
    position: absolute;
    bottom: 0;
    width: 100%
    display: none;


    text-align: center;
    background-color: #eeeeee;
}
.catalog-item:hover .price {
    display: block;
}
.price 
.button {
    display: block;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 45px;
}
.price h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.price p {
    line-height: 18px;
    font-weight: 400;
    text-transform: none;

    margin: 0 auto;
    margin-bottom: 30px;
    width: 200px;
}
.paginator-list {
    list-style: none;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
    width: 460px;
    padding-right: 10px;
    margin-top: 60px;

    display: flex;
    justify-content: space-between;
}
.paginator-item 
.button {
    padding: 15px 20px;
}
.paginator-item:last-child 
.button {
    padding: 15px 80px;
}
.paginator-item-current 
.button {
    padding: 12px 17px;
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
    border-radius: 3px;
}
.filter-button {
    display: inline-block;
    color: #000000;
    background-color: #eeeeee;


}
.filter-btn {
    display: inline-block;
    color: #000000;
    background-color: #eeeeee;

    width: 260px;
    height: auto;
}
.paginator-item-current .button:hover {
    background-color: #ffffff;
}
.site-navigation-current {
    position: relative;
}
.site-navigation-current::after {
    content: "";
    position: absolute;

    height: 3px;
    width: 100%;
    bottom: -7px;
    left: 0;

    background: red;
}








































