
body {
margin: 0;
padding: 0;
font-size: 16px;
line-height: 24px;
font-weight: 400;
font-family: "Roboto", Arial, sans-serif;
color: #2f3439;
text-transform: uppercase;

background-color: #ffffff;
 }

a {
    text-decoration: none;
}
/*Состояние лого при наведении*/
.container a:hover,
.container a:focus {
    color: #000000;
}

.main-header {
    background-color: #ededed;
}
.slide-title {
    font-size: 40px;
    line-height: 55px;
    color: 000000;
    font-weight: 500;
}
.slide-title p {
    font-size: 16px;
    line-height: 24px;
    color: #2f3439;
    font-weight: 400;
}
.slide {
    background-image: 
    url("../img/slide1.jpg"),
    background-repeat: no-repeat;
    background-position: 570px 132px;
    width: 698px;
    height: 413px;
}
.slide {
    background-image: 
    url("../img/slide2.jpg");
    background-repeat: no-repeat;

}

.site-navigation {
    list-style: none;
}

.site-navigation,
.shop-navigation {
    list-style: none;
    font-weight: 600;
}


.site-navigation a,
.shop-navigation a {
    color: #000000;

}

.site-navigation a:hover,
.site-navigation a:focus,
.shop-navigation a:hover,
.shop-navigation a:focus {
    color: #fb565a;
}
.active a:hover {
    background-color: red;
}
.btn {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    font-weight: 500;
    font: inherit;
}
.btn:hover,
.btn:focus {
    background-color: #e74246;
}
.btn:active {
    background-color: #d7373b;
}

.products p:first-child {
    background-image: url("img/notebook.png");
    background-repeat: no-repeat;
    background-position: 140px 625px;
    background-color: #ffffff;
}
.products p:nth-child(2) {
    background-image: url("img/mobile.png");
    background-repeat: no-repeat;
    background-position: 540px 526px;
    background-color: #ffffff;
}
.producrs p:last-child {
    background-image: url("img/presentation.png");
    background-repeat: no-repeat;
    background-position: 940px 625px;
    background-color: #ffffff;
}
.products h2 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}
.procucts p {
    font-size: 16px;
    line-height: 24px;
    color: #2f3439;
    font-weight: 400;
}

.feature-btn-red {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #fb565a;
    font-weight: 500;
    font: inherit;
}
.feature-btn-green {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #00ca74;
    font-weight: 500;
    font: inherit;
}
.feature-btn-yellow {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #efc84a;
    font-weight: 500;
    font: inherit;
}

.feature-btn-red:hover,
.feature-btn-red:focus {
    color: #ffffff;
    background-color: #e74246;
}
.feature-btn-red:active {
    background-color: #d7373b;
}

.feature-btn-green:hover,
.feature-btn-green:focus {
    background-color: #00bc6c;
}
.feature-btn-green:active {
    background-color: #00aa62;
}

.feature-btn-yellow:hover,
.feature-btn-yellow:focus {
    background-color: #eab534;
}
.feature-btn-yellow:active {
    background-color: #e5a722;
}

.header {
    color: #000000;
    background-color: #ededed;
}
.about-us b {
    font-size: 45px;
    line-height: 45px;
    color: 000000;
    font-weight: 500;
}

.about-us p {
    font-size: 16px;
    line-height: 24px;
    color: #2f3439;
    font-weight: 400;
}

.services h4 {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 500;

}

.services li {
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    color: #2f3439;
    font-weight: 400;
}

.about-logo {
    background-position: 940px 1094px;
}

.advantages h4 {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
}

.percentages li {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
    font-weight: 700;
    list-style: none;
}

.advan li {
    font-size: 16px;
    line-height: 18px;
    color: #2f3439;
    font-weight: 400;
    list-style: none;
}

.partners-site {
    list-style: none;
}
.partners-site a:hover,
.partners-site a:focus {
    color: #000000;
}
.form-text {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}
.min-price,
.max-price {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 400;
}
.grid h2 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}
.form-list {
    font-size: 16px;
    line-height: 20px;
    color: #283136;
    font-weight: 400;
    text-transform: capitalize;
}
.show-btn {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 500;
    background-color: #eeeeee;
}
.show-btn:hover,
.show-btn:focus {
    background-color: #dfdfdf;
}
.show-btn:active {
    background-color: #d5d5d5;
}
.sort {
    list-style: none;
}
.samples-sort p {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
}
.active-sort {
    font-weight: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 600;
}
.inactive-sort {
    font-weight: 14px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}
.samples-galery li {
    list-style: none;
}
.active-page-btn {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    background-color: #ffffff;
}
}
.pages li:nth-child(2) {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}
.pages li:nth-child(3) {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}
.pages li:nth-child(4) {
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
}

.contacts-us h4 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
}
.contacts-us p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
    font-weight: 400;
}
.button {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    background-color: #db575a;
    font-weight: 500;
    font: inherit;
} 

.social-network li {
    list-style: none;
}
.friendship p:first-child {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

























